<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Enter message">
            <input type="text" name="tag" placeholder="Enter tag">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>List of messages</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Search</button>
    </form>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <b>{{tag}}</b>
        </div>
    {{/messages}}
</body>
</html>